*,*:after,*:before{
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#contenedor_carga{
	background-color: rgba(196, 223, 242, 0.9);
	height: 100%;
	width: 100%;
	position: fixed;
	-webkit-transition:all 5s ease;
	-o-transition:all 5s ease;
	transition: all 5s ease;
	z-index: 10000;

}
#mensaje{
	
	text-align: center;
	color: black;
	font-size: 1em;
	
	font-family:'Helvetica','Monaco',sans-serif;
	position: absolute;
	left: 54%;
	top: 60%;
	transform: translateX(-50%) translateX(-50%);
	
}

#carga{
	border: 15px solid #5AAEE9;
	border-top-color: #2274AE;
	border-top-style: groove;
	height: 100px;
	width: 100px;
	border-radius: 100%;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

	-webkit-animation:girar 1.5s linear infinite;
	-o-animation: girar 1.5s linear infinite;
	animation: girar 1.5s linear infinite;
}
 @keyframes girar{
 	from { transform: rotate(0deg); }
 	to{transform: rotate(360deg);}
 }